DJANGO_DEBUG=False
DJANGO_SECRET_KEY=troque-por-uma-chave-segura
DJANGO_ALLOWED_HOSTS=honda.sistema9.com.br,127.0.0.1,localhost
DJANGO_CSRF_TRUSTED_ORIGINS=https://honda.sistema9.com.br
DJANGO_FIELD_ENCRYPTION_KEY=tv25H_VMhZdlmABbz7pnncprSwdwQ4CXw2H1mlGEiPQ=
